<a href="https://colab.research.google.com/github/KSeungBin/python/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 변수와 데이터 타입

파이썬에서는 데이터의 타입을 명확히 구분해야 합니다. 기본적인 데이터 타입은 문자와 숫자 (정수/실수)가 있습니다.

## 파이썬의 숫자

숫자형 데이터는 숫자만으로 구성된 데이터로 천단위 구분기호를 사용하지 않습니다. 다음 코드는 숫자 1000을 표현하려는 의도로 작성했지만 코드를 실행하면 이상한(?) 결과가 출력됩니다. 천단위 구분기호가 없어야 파이썬은 "숫자"로 인식합니다.

In [1]:
# python interpreter는 코드를 한 줄씩 위에서 아래로 실행함(문법을 체크하면서 이상이 없다면 실행, 이상이 있다면 error message 출력)
a = 10
b = 20

# python은 1,000을 문자로 인식
print(1,000)

1 0

In [2]:
# jupyter notebook, colab만의 편의 기능 : print문 사용하지 않아도 마지막 값을 출력
1000
2000

2000

In [ ]:
# 정석
print(1000)
print(2000)

숫자형 데이터는 크게 정수와 실수 두 가지의 타입으로 구분될 수 있습니다.

<img src="https://i.ibb.co/1LnQ7HT/1-0.png" style="float:left" />

In [4]:
type(1000)

int

In [3]:
print(type(1000))
print(type(1000.0)) # python interpreter : 안쪽에 있는 것(type) 먼저 연산하고 바깥쪽에 있는 것(print) 실행

<class 'int'>
<class 'float'>

----

참고로 print() 함수 없이도 연산의 결과가 출력되는 것처럼 보이지만 이는 주피터 노트북이 제공해주는 편의 기능입니다. 앞으로는 본격적인 코딩을 하게되면 주피터 노트북이 아닌 다른 프로그램을 사용하는데 해당 환경에서는 값이 자동으로 출력되지 않습니다. "값을 화면에 출력할 때는 print() 함수를 사용하는 것이 정석이다"로 이해하시면 됩니다.

----

type 이라는 이름의 함수는 데이터의 타입을 구분해서 알려줍니다.

숫자형 데이터의 연산은 초등 수학에서 배운 사칙연산 결과를 반환합니다.

In [5]:
# pandas는 엑셀 대체
# python으로 우리가 계산기를 만들어야 함
100 + 10

110

파이썬에서의 곱셈은 x 기호가 아니라 * 기호를 사용해야 합니다. 곱셈 기호를 두 번 사용하면 제곱으로 해석됩니다

In [6]:
10 * 3

30

In [7]:
100 ** 0.5

10.0

파이썬에서 실수(float)는 소숫점이 있는 숫자입니다. 무한대에 가까운 모든 수를 실수로 표현할 수 없기 때문에, 컴퓨터로 계산하는 실수 연산에는 오차가 존재합니다. 다음과 같이 나눗셈 연산의 결과 끝의 5라는 숫자는 오차값을 확인할 수 있습니다.

3.3333333333333335

% 연산은 나머지를 반환합니다.

In [8]:
10 % 3

1

In [10]:
10 // 3 # 몫을 반환

3

## 파이썬의 문자열-1

작은따옴표('')나 큰따옴표("")로 묶인 문자들의 집합을 문자열이라고 부릅니다.

In [11]:
type('이건 문자열')

str

중간에 작은 따옴표가 존재하는 문자열을 표현할 때는 큰 따옴표로 문자열을 정의해야 합니다

In [12]:
# 문자열 안에 작은 따옴표가 있는 경우
print("I'm a boy") # print문 사용해 정석으로 출력해야 정확히 나옴

I'm a boy

중간에 큰 따옴표가 존재하는 문자열을 표현할 때는 작은 따옴표로 문자열을 정의해야 합니다.

'철수가 소리쳤다 "으아악"'

print( ) 함수를 사용하면 읽기 좋은 형태로 출력됩니다.

철수가 소리쳤다 "으아악"

문자형 데이터의 덧셈은 문자열을 이어 붙입니다. 데이터의 타입에 따라 다른 동작을 하기 때문에 데이터의 타입을 구분하는 것이 중요합니다.

'안녕하세요'

파이썬에 정의돼 있지 않은 연산은 에러를 출력하구요

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Q. 다음중 문자열 데이터가 아닌 것은 무엇인가요?

ABCD  
'Hello world'  
'I'd love to change ..'  
'3'

문자열의 곱하기는 문자열을 숫자만큼 이어 붙입니다.

In [ ]:
10 + 3
"안녕" * 3    # 문자열의 +, / 연산은 정의되어 있지 않다 ('안녕'+ 3, '안녕' / 3)
# 렉 걸렸을 때 : '런타임' -> 실행 중단

'안녕안녕안녕'

연습문제-1. 주식의 보유 수량과 현재가가 다음과 같을 때 총 평가금액을 계산하라. 
- 네이버 : 77,000 / 3주  
- 셀트리온 : 292,000 / 4주
- 삼성증권 : 38,350 / 4주

In [13]:
77000 * 3 + 292000 * 4 + 38350 * 4
# 가독성 : 1. 괄호 : (77000 * 3) + (292000 * 4) + (38350 * 4)
#          2. 데이터를 변수에 담기 (binding) : 수치의 나열보다, 이름이 나열된 것을 사람은 더 기억하기 쉽다.

1552400

## 파이썬과 변수

변수는 상황에 따라 변하는 값을 저장하는 공간으로 이해할 수 있습니다. 위 연습 문제와 같이 숫자를 나열하는 것보다는 변수를 사용해서 표현하면 읽기 쉽고, 기억하기도 좋습니다. 네이버라는 변수에 네이버 평가금액이 저장돼 있으며, 셀트리온, 삼성증권 변수에도 각각의 값이 저장돼 있다면 다음과 같이 코드를 표현할 수 있습니다.   
`평가금액 = 네이버 + 셀트리온 + 삼성증권`

<img src="https://i.ibb.co/zShF7qq/1-1.png" style="float:left" />

변수를 사용할 때는 좌변에 변수의 이름, 우변에는 저장할 값을 작성하면 됩니다.  
파이썬 인터프리터는 등호를 만나면 우변부터 해석하고, 우변에 있는 값을 좌변에 저장합니다.   
<b>파이썬에서 등호 (=)는 같다는 의미가 아니라 대입한다라는 사실에 주의하세요`</b>

<img src="https://i.ibb.co/2hGsHfr/1-2.png" style="float:left" />

연습문제-1을 변수를 사용해서 표현해 보세요.

In [14]:
print(3,'원') # 공백 하나를 추가하고 두 데이터를 출력
print('금' + str(3) + '원') # 문자열끼리 이어붙이기

3 원

값을 직접 기억하는 것보다 변수를 사용하면 코드의 재사용성이 높아지고 가독성이 좋아집니다. 변수의 이름은 달라져도 연산의 결과는 달라지지 않습니다.

In [ ]:
변수 = 2000000 * 12
print(변수)

24000000

In [ ]:
저축액 = 2000000 * 12
print(저축액)

24000000

변수를 다시 변수에 대입할 수도 있습니다.

In [15]:
# python interpreter : 등호(=)의 우변부터 해석 -> 계산 후 좌변에 정의된 변수에 넣음
# 변수를 더블클릭하면 쉽게 복붙할 수 있다
삼성증권 = 77000 * 3
셀트리온 = 292000 * 4
네이버 = 38350 * 4
print(삼성증권 + 셀트리온 + 네이버)

1552400

In [ ]:
# 미리 정의된 함수 : str, int(문자로 입력된 숫자를 진짜 숫자로 바꿔주는 class)
int('323') + 10
int = 10
print(int('323')) # python keyword를 변수명으로 지정하면 안되는 이유
# 런타임 다시 시작하고 하나의 셀에 int('323') 입력하고 실행하면 이때는 실행 가능! -> 런타임 다시 시작하면 처음부터 셀을 모두 실행해줘야 변수에 지정한 값이 할당됨

값 보다는 이름을 기억하기 쉽기 때문에 변수를 사용합니다. 변수에 담긴 값을 재사용할 수 도 있구요.

<img src="https://i.ibb.co/jvvD6QV/1-3.png" style="float:left" />

변수에는 값에 이름표를 붙여 둔것과 같습니다. 따라서 값과 상관 없는 이름표를 붙여 놓으면 혼란을 야기할 수 있습니다. 변수의 이름을 작성할 때는 주의해야할 몇가지 사항들이 있습니다. 

- 변수의 이름은 영문 (한글), 숫자, 언더스코어(_)만 사용
- 변수의 이름은 대소문자를 구분
- (추천) 파이썬 키워드는 사용X  
`False, class, print, return, def, try, with, from, for, int, float, if, else`

진짜 프로그래머는 변수의 이름을 반드시 영어로 작성한다
(외국인과 협업해야 하고, 한글 사용하면 문제가 발생할 수 있기 때문

In [16]:
# 반드시 한글 or 영어 or Undef Bar(_) , 셋 중 하나로만 변수 이름을 시작할 수 있음
123한글 = 2

SyntaxError: ignored

In [17]:
# 대소문자를 구별함
a = 10
print(A)

NameError: ignored

In [31]:
# 숫자 : 정수(int), 숫자(float)
# 문자열 (str) : 2,176.78 -> 문자열을 잘 다뤄야 웹페이지에 있는 숫자(, 표기된 것은 문자열)를 연산할 수 있음
float("3232.30") + 103

3335.3

## 파이썬의 문자열-2

대부분의 데이터가 문자열 형태로 제공되기 때문에 "문자열"은 매우 중요합니다. 파이썬 세계에서는 다음 그림 안의 테이블 데이터가 숫자가 아닌 문자열로 인식될 것임을 알 수 있습니다. 이러한 데이터를 읽어와서 가공하기 위해서는 문자열 데이터를 능숙히 다룰 수 있어야 합니다.

<img src="https://i.ibb.co/Fh3Q6hc/1-4.png" style="float:left" />

### 문자열과 인덱싱
문자열에서 데이터를 하나가져오는 것을 인덱싱이라고 합니다. 문자열이 생성될 때, 보이지는 않지만 인덱스(index)라고 불리는 숫자값이 맵핑됩니다. `변수 = "Samsung"` 코드가 실행되면 다음과 같이 인덱스가 내부적으로 부여됩니다. 그림의 상단 부분을 참고하면 인덱스는 0부터 시작해서 순차 증가하는 것을 알 수 있습니다.

<img src="https://i.ibb.co/j5QrWrR/1-5.png" style="float:left" />

자동으로 부여된 인덱스를 사용해서 문자열 값을 하나 가져올 수 있습니다.

In [19]:
변수 = 'Samsung'
변수[0] # indexing : 인덱스(내부적으로 맵핑된 숫자)를 사용해 하나의 데이터를 갖고오는 것

'S'

In [20]:
print(변수[3] + 변수[4])

'su'

In [21]:
print(변수[-7] + 변수[-1])

Sg

### 문자열과 슬라이싱

문자열에서 하나 이상의 데이터를 가져오는 것을 슬라이싱 (slicing) 이라고 합니다. 인덱싱은 문자 하나에 인덱스 하나가 부여 되지지만, 슬라이싱은 범위(구간)를 지정해야 하기 때문에 문자 사이에 인덱스가 위치한다고 생각하면 됩니다.

<img src="https://i.ibb.co/1MLRZYR/1-6.png" style="float:left" />

In [22]:
string = "hello minsu"
string[0]  # indexing
string[0:5]  # slicing

'hello'

In [38]:
string[0:6] # 띄어쓰기도 문자열
print(string[:5])
print(string[:])
print(string[-1:-5])  # 출력 안 됨
print(string[-5:-1])  
print(string[-5:])
print(string[-4:])
print("H" + string[1:6] + "M" + string[7:])
f"H{string[1:6]}M{string[7:]}"

hello
hello minsu

mins
minsu
insu
Hello Minsu

'Hello Minsu'

시작 인덱스를 생략하면 0부터, 끝 인덱스를 생략하면 끝까지 데이터를 가져옵니다. 문자열을 슬라이싱한 결과는 문자열입니다. 따라서 의미는 없지만 다음의 코드를 실행하면 hello minsu가 출력됩니다.

In [24]:
string[:][:][:][:]  # 문자열은 slicing해도 data type이 str 
"hello minsu" * 4   #  반복출력과 동일한 결과 출력됨
string[:][:][:][0]

'h'

### 문자열의 수정
한 번 생성된 문자열은 수정이 불가능 합니다.

In [26]:
# 한 번 정의된 문자열은 바꿀 수 없다
string[0] = "H"

TypeError: ignored

새롭게 하나의 문자열을 정의해야 합니다.

In [25]:
"H" + string[1:]

'Hello minsu'

### 문자열 formatting 
문자열 정의 기호 앞에 f를 붙이고 변수는 중괄호(`{ }`)와 함께 표현합니다.  
`f" {변수명} "`

In [28]:
용돈 = 30000.234
print(용돈, '원')  # 용돈 + '원' -> 숫자와 문자는 더할 수 없음

30000.234 원

수식을 입력할 수도 있습니다.

In [29]:
# f - string
print(f"{용돈}원")   # formatting : 변수({})에 있는 값을 꺼내와서 문자와 연결

30000.234원

변수가 아닌 문자열을 문자열 기호안에 그대로 넣어줍니다.  
`f"안녕하세요. {변수명}"`

In [30]:
# option 지정
print(f"{용돈:,}원") # 천 단위 구분(,)
print(f"{용돈:.1f}원")

30,000.234원
30000.2원

In [32]:
변수 = "3232"
f'{int(변수):3}'

'3232'

### 문제 더 풀어보기
https://wikidocs.net/30101  
https://wikidocs.net/32135  
https://wikidocs.net/30102

## 부록 (변수)

메모리와 변수에 대한 설명

만든 빵을 저장('목적'이 다른 것)
- 창고 : 많이 저장하려고 차곡차곡 쌓아놓음 = 하드디스크(주기억장치 : 데이터를 차곡차곡 많이 저장)
- 진열대 : 빵을 팔기 위해 예쁘게 진열  = 메모리(보조기억장치 : 컴퓨터를 실행하기 위한 목적의 데이터는 메모리에 올라와 있어야 함)  

  
  
HDD에 저장되어 있는 코드를 읽어와 메모리에 올리고 -> 메모리에 있는 내용을 가지고 CPU가 실행(CPU는 RAM 메모리만 바라본다)
- 용량 : HDD > RAM > Cache(SRAM)

In [33]:
변수 = 10
id(변수)

94340334709536

In [34]:
# 메모리 공간 어딘가에 저장된 10을 변수가 가리키고, 20은 변수2가 가리킨다 by ID
변수2 = 20
id(변수2)

94340334709856

In [36]:
# 변수와 변수3의 주소가 동일하다 : 메모리 공간에 있는 10을 변수와 변수3이 동시에 가리킨다
변수3 = 10 
id(변수3)

94340334709536

In [35]:
변수3 = 변수 + 10 # 메모리 공간에 있는 20을 변수3이 가리킨다
id(변수3) 
# 즉 변수는 이름표. interpreter가 우변의 연산을 수행한 후, 그 값을 저장하고 있는 해당 메모리를 가리키는 역할
# 변수에 값이 저장되는 것이 아님. 값을 참조하는 것(binding)

94340334709856

bit 설명

In [ ]:
string = 'abc'  # 우변부터 실행 : 메모리에 a, b, c가 각각 저장됨
string[0]       # 메모리에 있는 a를 참조하여 그 값을 출력함
string[0] = 'A' # error : 메모리에 정의된 값(특히 문자열)을 일부만 바꾸는 것을 문법적으로 허용하지 않음 - 문자열은 immutable. 단, mutable은 메모리에 있는 값을 바꿀 수 있음
'A' + string[1:] # A를 메모리의 새로운 공간에 정의. 기존에 메모리에 저장되어 있던 b,c를 읽어옴 => 즉 기존에 정의된 문자열을 바꾸지 않고, 새롭게 데이터를 생성해 기존의 연결을 끊고 재연결한 것
string = 'A' + string[1:]  # 기존에 저장되어 있던 a,b,c와의 연결이 끊어지고 string 변수가 A, b, c를 가리킴 (연결이 끊어져 참조되지 않는 데이터 a는 일정 주기로 정리됨 - garbage collector)

In [39]:
string = "hello minsoo"
print(string.upper())
print(string.capitalize())
print(string.replace("h", "H"))

HELLO MINSOO
Hello minsoo
Hello minsoo

In [ ]:
id(float(100/10))
id(float(10.0))  # 메모리에 새로운 공간을 확보하여 새로운 데이터를 저장하고, 이를 변수가 가리킴(참조)